---
layout : tags
title  : 分类
---
<div class="tag-cloud">
  {% for cat in site.categories %}
    <a href="#posts-tag"
      id="{{ forloop.index }}" class="__tag" style="margin: 5px">{{cat[0]}}
    </a>
    <ul id="list_{{ forloop.index }}" style="display:none;">
      {% for post in cat[1] %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  {% endfor %}
</div>

<div id="posts-tags" class="post-list" style="margin: 50px;"></div>

<script type="text/javascript">
  jq(function() {
    var minFont = 15.0,
        maxFont = 40.0,
        diffFont = maxFont - minFont,
        size = 0;

    {% assign max = 1.0 %}
    {% for cat in site.categories %}
      {% if cat[1].size > max %}
        {% assign max = cat[1].size %}
      {% endif %}
    {% endfor %}

    {% for cat in site.categories %}
      size = (Math.log({{ cat[1].size }}) / Math.log({{ max }})) * diffFont
             + minFont;
      jq("#{{ forloop.index }}").css("font-size", size + "px");
    {% endfor %}

    jq('.tag-cloud a[class^="__tag"]').click(function() {
      jq('.post-list').empty();
      jq('#list_' + jq(this).attr('id')).each(function() {
         jq('.post-list').append('<ul>' + jq(this).html() + '</ul>');
      });
    });
  });
</script>