---
layout : tags
title  : 标签
---
<div class="tag-cloud">
	<ul>
  {% for tag in site.tags %}
    <li>
        <a href="#{{ forloop.index }}"
          id="{{ forloop.index }}" class="__tag" style="margin: 5px">{{tag[0]}}
        </a>
        <ul id="list_{{ forloop.index }}" style="display:none;">
          {% for post in tag[1] %}
            <li><a href="{{ post.url }}">{{ post.date | date: "%F"  }} {{ post.title }}</a></li>
          {% endfor %}
        </ul>
    </li>
  {% endfor %}
  </ul>
</div>

<div id="posts-tags" class="post-list" style="margin: 50px;"></div>

<script type="text/javascript">
  jq(function() {
    var minFont = 15.0,
        maxFont = 40.0,
        diffFont = maxFont - minFont,
        size = 0;

    {% assign max = 1.0 %}
    {% for tag in site.tags %}
      {% if tag[1].size > max %}
        {% assign max = tag[1].size %}
      {% endif %}
    {% endfor %}

	var curEl = null;
    {% for tag in site.tags %}
		curEl = jq("#{{ forloop.index }}");
		curEl.text( curEl.text() + "(" + {{ tag[1].size }} + ")");
    {% endfor %}

	function anchorClicked(anc){
      jq('.post-list').empty();
      jq('#list_' + jq(anc).attr('id')).each(function() {
         jq('.post-list').append('<ul>' + jq(this).html() + '</ul>');
      });
	};

	//detecting any change on the URL to scroll to the given anchor link
	//(a way to detect back history button as we play with the hashes on the URL)
	jq(window).on('hashchange', hashChangeHandler);

	function hashChangeHandler(){
		var value =  window.location.hash.replace('#', '');
		if(value)
		{
			var anc = jq("#" + value.toString());
			anchorClicked(anc);
		}
	};
	
	jq(document).ready(function(){
		hashChangeHandler();
	});

  });
</script>