<div class="unit one-fifth hide-on-mobiles">
  <aside>
    <ul>
      <li class="{% if page.title == 'Blogs' %}current{% endif %}"> <a href="/blogs/">所有博文</a> </li>
    </ul>
    
    <h4>博文索引</h4>
    <ul>
      {% for post in site.posts limit:10 %}
      <li class="{% if page.title == post.title %}current{% endif %}"> <a href="{{ post.url }}">{{ post.title }}</a> </li>
      <br/>
      {% endfor %}
    </ul>
    
    <h4>分类索引</h4>
    <ul>
    {% for category in site.categories %}
    <li class="category_list_item"><a href="\cat.html#{{ forloop.index }}">{{ category | first }}</a> ({{ category | last | size }}) </li>
      {% endfor %}
    </ul>
    
    <h4>标签云</h4>
    <ul>
    {% for tag in site.tags %}
    <li class="category_list_item"><a href="\tags.html#{{ forloop.index }}">{{ tag | first }}</a> ({{ tag | last | size }}) </li>
      {% endfor %}
    </ul>
    </aside>
</div>
