---
layout: default
---

  <section class="blogs">
    <div class="grid">

      {% include blogs_contents_mobile.html %}

      <div class="unit four-fifths">
        <article>
          <h2>
            {{ page.title }}
            <a href="{{ page.url }}" class="permalink" title="Permalink">∞</a>
          </h2>
          <span class="post-category">
            <span class="label">
              {{ page.categories | array_to_sentence_string }}
            </span>
          </span>
          <div class="post-meta">
            <span class="post-date">
              {{ page.date | date: "%F" }}
            </span>
            <a href="https://github.com/{{ page.author }}" class="post-author">
              <img src="https://github.com/{{ page.author }}.png" class="avatar" alt="{{ page.author }}" width="24" height="24">
              {{ page.author }}
            </a>
          </div>
          <div class="post-content">
            {{ content }}
          </div>
            <br/>

            <!--高速版-->
            <div id="SOHUCS"></div>
            <script charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/changyan.js" ></script>
            <script type="text/javascript">
                window.changyan.api.config({
                    appid: 'cyslaiQzE',
                    conf: 'prod_fa21deb362a7be4bd942a5ebee6e27b1'
                });
            </script>

        </article>
      </div>

      {% include blogs_item_contents.html %}

      <div class="clear"></div>

    </div>
  </section>
