---
layout: default
---

  <section class="docs">
    <div class="grid">

      {% include docs_contents_mobile.html %}

      <div class="unit four-fifths">
        <article>
          <h1>{{ page.title }}</h1>
          {{ content }}
          {% include section_nav.html %}

          <!--高速版-->
          <div id="SOHUCS"></div>
          <script charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/changyan.js" ></script>
          <script type="text/javascript">
              window.changyan.api.config({
                  appid: 'cyslaiQzE',
                  conf: 'prod_fa21deb362a7be4bd942a5ebee6e27b1'
              });
          </script>
          <style>
              article #SOHUCS #SOHU_MAIN #powerby_sohu { display:none !important;}
          </style>

        </article>
      </div>

      {% include docs_contents.html %}

      <div class="clear"></div>

    </div>
  </section>
