---
layout: news
---

<article>
  <h2>
    {{ page.title }}
    <a href="{{ page.url }}" class="permalink" title="Permalink">∞</a>
  </h2>
  <span class="post-category">
    <span class="label">
      {{ page.categories | array_to_sentence_string }}
    </span>
  </span>
  <div class="post-meta">
    <span class="post-date">
      {{ page.date | date_to_string }}
    </span>
    <a href="https://github.com/{{ page.author }}" class="post-author">
      <img src="https://github.com/{{ page.author }}.png" class="avatar" alt="{{ page.author }}" width="24" height="24">
      {{ page.author }}
    </a>
  </div>
  <div class="post-content">
    {{ content }}
  </div>
	<br/><br/><br/><br/><br/>
    
    <!-- UY BEGIN -->
    <div id="uyan_frame"></div>
    <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid={{ site.jiathis_id }}"></script>
    <!-- UY END -->
    
    <!-- UJian Button BEGIN -->
<div class="ujian-hook"></div>
<script type="text/javascript">var ujian_config = {num:12,picSize:84,textHeight:45};</script>
<script type="text/javascript" src="http://v1.ujian.cc/code/ujian.js?uid={{ site.jiathis_id }}"></script>
<a href="http://www.ujian.cc" style="border:0;"><img src="http://img.ujian.cc/pixel.png" alt="友荐云推荐" style="border:0;padding:0;margin:0;" /></a>
<!-- UJian Button END -->
</article>
